{%extends 'base.html'%}
{%block title%}
    <title>Home</title>
{%endblock%}

{%block content%}

    <section class="hero-section">
        <div class="left-container">
            <div class="hero-text">
                <h1>Unleash Your Words, Ignite Your World</h1>
                <p>Welcome to BlogHaven, your digital sanctuary for writers, storytellers, and visionaries. Discover a world where your words have the power to inspire, educate, and create change.</p>
                <div class="hero-btn">
                    <button class="pry-hero-btn">Register</button>
                    <button class="sec-hero-btn">Demo</button>
                </div>
            </div>
        </div>
        <div class="hero-image">
            <img height="100%" src="{{ url_for('static', filename='images/hero-image.png') }}" alt="a female writer">
        </div>
    </section>


    <div class="container">
        <h1>Recent Posts</h1>
        <div class="post-list">
            {% for post in posts %}
                <div class="post">
                    <h2><a href="{{url_for('post', post_id=post.id)}}">{{ post.title }}</a></h2>
                    <p>{{ post.date_posted.strftime('%Y-%m-%d') }}</p>
                    <p>{{ post.description }}</p>
                    <p>Author: {{ post.author.username }}</p>
                    <img src="{{ url_for('static', filename='post_image/' + post.post_image_file) }}" alt="post image">
                    
                    <p>{{post.category}}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{%endblock content%}
