{%extends 'base.html'%}
{%block title%}
    <title>Posts</title>
{%endblock%}

{%block content%}
    <div class="search-category">
        <form method="get" action="/posts" class="search-container">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <label for="search"></label>
            <input type="text" name="search" id="search" placeholder="Search by category">
            
        </form>
        
        
    </div>

    
    <div class="posts-container">
        <h1>All Posts</h1>
        <div class="post-list">
            {% for post in posts|reverse %} 
                <div class="post">
                    <div class="author">
                        <img  class="author-image" src="{{ url_for('static', filename='images/' + post.author.image_file) }}" alt="Author image">
                        <div>
                            <p>Author: {{ post.author.username }}</p>
                            <p>{{ post.date_posted.strftime('%Y-%m-%d') }}</p>
                        </div>
                    </div>
    
                    <img  class="post-image" src="{{ url_for('static', filename='post_image/' + post.post_image_file) }}" alt="post image">
                    <h3 class="post-title-home"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
                    <p>{{ post.description }}</p>
    
                    <p class="category">{{ post.category }}</p>
                    <a href="{{ url_for('post', post_id=post.id) }}"><span class="learn-more">Learn More <i class="fa-solid fa-arrow-right"></i></span></a>
                </div>
    
            {% if loop.index % 3 == 0 %} 
            {% endif %}
            {% endfor %}
        </div>    
    </div>
            
{%endblock%}